body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(185, 67, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #app {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }